meth,part,time{
    display: none;
}

amount{
    color: red;
}

resource {
    color: blue;    
}

men{
    color: green;
}

heading{
    color: gray;
}

budget{
    color: lime;
}

alldata {
    width: 90%;
    margin-left: 200px;
}

data{

    border: 1px solid;
    display: block;
    width: 250px;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 5px;
}

data data {
    border: 0px solid;
}

parameters{
    color: blue
}

status, cost, action, parameter, direction {
    display: inline;
}

status{
    color: orange;
}

cost{
    color: purple;
}

data:first-child{
    background-color: grey;
    display: block;
    margin-left: 37%;
    float: none;
    width: 250px;
    box-shadow: 10px 10px 5px #888888;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}
data:first-child > * > *{
    margin: 10px;
    color: black;
    font-size: 20px;
    display: block;
}