meth,part,time{
    color: white
}

amount{
    color: red;
}

resource {
    color: blue;    
}

men{
    color: green;
}

heading{
    color: gray;
}

budget{
    color: lime;
}


data{
    border: 1px solid;
    display: block;
    width: 250px;
    height: 60px;
    float: left;
    text-align: center;

}

data data {
    border: 0px solid;
}

parameters{
    color: blue
}

status, cost, action, parameter, direction {
    display: inline;
}

status{
    color: orange;
}

cost{
    color: purple;
}