<style type="text/css"> 
alldata , data, meth, part {} 
budget, status,costcontracts { 
    display: block; 
    width: 250px;
    font-size: 16pt ; 
    font-family: arial ; 
    font-weight: bold; 
    background-color: teal; 
    color: white; 
    padding-left: 10px;
}
amount, resource, action { 
    display: block; 
    font-size: 12pt; 
    padding-left: 10px;
}

contracts  {
    display: block; 
    font-size: 12pt; 
    color: red ; 
    font-weight: bold; 
    padding-left: 10px;
}

parameters, men, heading {
    display: block; 
    font-size: 11pt ; 
    font-style: italic;
    font-family: arial ; 
    padding-left: 10px;
}

contracts {
    border: 2px solid;
}

data {
    border: 2px solid;
}
</style>